@import url(normalize.css);

body{
  font-family: "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, Roboto, Verdana, sans-serif;
  font-size: 14px;
}

a:link, a:hover, a:visited{
  color: #262d7b;
  text-decoration: none;
}

*{
  box-sizing: border-box;
  list-style: none;
  line-height: 1.5;
}

ul{
  padding-left: 0;
}

.container{
  margin: 0 auto;
  width: 960px;
}

/* NAV */

.header-inner{
  -js-display: flex;
  display: flex;
  height: 80px;
  width: 960px;
}

#logo img{
  height: 50px;
  vertical-align: bottom;
}

.header-tool{
  -js-display: flex;
  display: flex;
  font-size: 0.8em;
  margin-left: auto;
  width: 570px;
}

.bankcode{
  font-weight: bold;
  position: relative;
  height: 80px;
  margin-left: auto;
  width: 30%;
}

.shita{
  bottom: 0;
  position: absolute;
  text-align: right;
  width: 90%;
}

.text-size{
  margin-left: auto;
}

.text-size p{
  font-weight: bold;
  margin-bottom: 5px;
}

.text-size--btn {
  margin: auto;
  width: 100px;
}

.text-size--btn ul{
  -js-display: flex;
  display: flex;
  justify-content: space-between;
}

.text-size--btn li{
  -js-display: flex;
  display: flex;
  align-items: flex-end;
}

.extools{
  width: 30%;
  margin-left: auto;
}

ul.english{
  -js-display: flex;
  display: flex;
  height: 20px;
  padding: 0;
}

ul.english li:first-child{
  border-right: 1px #515151 solid;
  padding: 0 10px 0 0;
}

ul.english li{
  padding-left: 10px;
}

ul.search{
  -js-display: flex;
  display: flex;
  height: 28px;
  padding-left: 0;
}

.search input[type="text"]{
  border: 1px #262d7b solid;
  height: 28px;
  padding-right: 10px;
}

.search input[type="image"]{
  margin-left: -1px;
}


nav{
  background-image: url(images/navi.png), url(images/gnavi_bg.png);
  background-position: bottom, bottom;
  background-repeat: no-repeat, repeat-x;
  border-bottom: 3px #262d7b solid;
  height: 40px;
}

nav ul{
  margin: 0 auto;
  width: 960px;
}

nav ul li{
  float: left;
}

nav ul li a{
  background-image: url(images/navi.png);
  background-repeat: no-repeat;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 37px;
}

li.personal a{
  background-position: 0 -40px;
  width: 181px;
}
li.personal a:hover{
  background-position: 0 0;
}

li.corporation a{
  background-position: -181px -40px;
  width: 180px;
}
li.corporation a:hover{
  background-position: -181px 0;
}

li.investor a{
  background-position: -361px -40px;
  width: 239px;
}
li.investor a:hover{
  background-position: -361px 0;
}

li.recruit a{
  background-position: -600px -40px;
  width: 181px;
}
li.recruit a:hover{
  background-position: -600px 0;
}

li.company a{
  background-position: -781px -40px;
  width: 179px;
}
li.company a:hover{
  background-position: -781px 0;
}

/* MAIN */

main{
  -js-display: flex;
  display: flex;
}

main.container{
  background-image: url(images/main_bg.jpg);
  background-repeat: repeat-x;
  padding: 15px 0 0;
}

.content{
  width: 680px;
}

.slide-area{
  border: 3px #262d7b solid;
  width: 650px;
  margin: 0 auto;
}

.slide-nav{
  background-color: #262d7b;
  height: 80px;
  padding: 10px;
  width: 100%;
}

.slide-nav--thumb img{
  border: 2px #ffffff solid;
}

.pages{
  border: 3px #262d7b solid;
  border-radius: 5px 5px 0 0;
  margin: 15px 0 5px;
  width: 100%;
}

.pages h3{
  background-color: #262d7b;
  color: #ffffff;
  padding: 5px 10px;
  margin: 0 0 5px;
}

ul.pagelist {
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
}

ul.pagelist li{
  list-style: circle url(images/list_head.gif);
  width: 200px;
}

.news-area{
  width: 100%;
}

ul.news-area-tab{
  -js-display: flex;
  display: flex;
  padding: 0;
  margin-bottom: -1px;
  width: 650px;
  height: 45px;
}

    .news-area-tab li.headline{
      background-image: url(images/tab01_on.png);
      display: block;
    }

    .news-area-tab li.headline h3{
      height: 0;
      margin: 0;
      overflow: hidden;
      padding: 0;
      width: 170px;
    }

    .news-area-tab li.release{
      background-image: url(images/tab02_off.png);
      display: block;
    }

    .news-area-tab li.release h3{
      height: 0;
      margin: 0;
      overflow: hidden;
      padding: 0;
      width: 170px;
    }

    .news-area-tab li.campaign{
      background-image: url(images/tab03_off.png);
      display: block;
    }

    .news-area-tab li.campaign h3{
      height: 0;
      margin: 0;
      overflow: hidden;
      padding: 0;
      width: 170px;
    }

    .news-area-tab li.notice{
      background-image: url(images/tab04_off.png);
      display: block;
    }

    .news-area-tab li.notice h3{
      height: 0;
      margin: 0;
      overflow: hidden;
      padding: 0;
      width: 170px;
    }

.newspool{
  border: 1px #5a5a5a solid;
  margin-top: 0;
}

.hidden{
  display: none;
}

ul.newsdata{
  -js-display: flex;
  display: flex;
  padding: 0 15px;
}

.newsdata li.date{
  width: 18%;
}
.newsdata li.category{
  width: 18%;
}
.newsdata li.title{
  width: 62%;
}



.nav-right{
  margin: 0 auto;
  padding-left: 0;
  width: 240px;
}



.nav-right h2{
  background-color: #262d7b; 
  color: #ffffff;
  font-size: 1.3em;
  text-align: center;
  margin: 0 auto 15px;
}

.banking-login{
  border: 5px #262d7b solid;
}

.banking-login p{
  font-size: 0.9em;
  text-align: center;
}

.banking-login .login-button img{
  display: block;
  margin: 15px auto;
}

.services{
  border: 5px #262d7b solid;
  margin: 5px auto;
  padding: 0;
  width: 100%;
}

.services li{
  height: 51px;
  margin: 10px auto;
  width: 213px;
}


/* FOOTER */

footer{
  background-image: url(images/footer_bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 500px;
  padding: 50px 0 25px;
  margin: 30px 0 0;
  width: 100%;
}

.sitemap{
  -js-display: flex;
  display: flex;
  flex-wrap: wrap;
  margin: 45px auto;
}

.sitemap-column{
  margin: 0 auto;
}

.sitemap-column ul{
  padding-left: 0;
}
.sitemap-column--item{
  list-style: circle inside;
}
.sitemap-column--item a{
  color: #ffffff;
  text-decoration: underline;
}


.footer-nav{
  align-items: center;
  background-color: #ffffff;
  color: #515151;
  -js-display: flex;
  display: flex;
  height: 60px;
  justify-content: center;
  opacity: 0.8;
}

ul.footer-nav-list{
  margin: 0 auto;
  width: 960px;
}

.footer-nav li{
  border-left: 1px #515151 solid;
  float: left;
  font-size: 0.9em;
  line-height: 16px;
  padding: 0 6px;
}

.footer-nav li:last-child{
  border-right: 1px #515151 solid;
}

.footer-nav a {
  color: #068d9d;
}

small{
  display: block;
  margin: 20px auto;
  text-align: center;
}